@inject Practice_ASP_NET.Services.DbContextServices clients;

@{
    var isAdded = TempData["isAdded"] as String;
}

<h1>This is Client index page</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">CreateAt</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
        @{
            foreach(var value in @clients.ClientList()) {
                <tr>
                    <th scope="row">
                        @value.id
                    </th>
                    <td>@value.name</td>
                    <td>@value.email</td>
                    <td>@value.phone</td>
                    <td>@value.address</td>
                    <td>@value.createAt</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Client" asp-action="EditClient" asp-route-id="@value.id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Client" asp-action="DeleteClient" asp-route-id="@value.id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br/>
<div >
    <div class="bg-light">
        <h1>Create new client</h1>
    </div>
    <div>
        <form asp-controller="Client" asp-action="InsertClient">
            <div class="row mb-2">
                <label class="mt-1">Name:</label>
                <input type="text" name="name" class="form-control m-2" placeholder="Enter name">
            </div>
            <div class="row mb-2">
                <label class="mt-1">Email:</label>
                <input type="text" name="email" class="form-control m-2" placeholder="Enter email">
            </div>
            <div class="row mb-2">
                <label class="mt-1">Phone:</label>
                <input type="text" name="phone" class="form-control m-2" placeholder="Enter phone number">
            </div>
            <div class="row mb-2">
                <label class="mt-1">Address:</label>
                <input type="text" name="address" class="form-control m-2" placeholder="Enter address">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="bg-warning">@isAdded</div>
</div>


